@model CrashManOptionsViewModel

@{
    this.Layout = "_RobotMasterLayout";
}

<div class="row">

    <partial name="_CommonRobotMasterOptions" />

    <div class="col-lg-3 form-group">
        <label asp-for="WalkSpeed"></label>
        <input class="form-control" asp-for="WalkSpeed" />
    </div>
    <div class="col-lg-3 form-group">
        <label asp-for="JumpHeight"></label>
        <input class="form-control" asp-for="JumpHeight" />
    </div>
    <div class="col-lg-3 form-group">
        <label asp-for="ProjectileSpeed"></label>
        <input class="form-control" asp-for="ProjectileSpeed" />
    </div>

</div>