@model MegaManOptionsViewModel

<div class="card">
    <div class="card-header">
        <h2 class="panel-title"><a class="collapsed" data-toggle="collapse" href="#collapseMegaMan">Mega Man Options</a></h2>
    </div>
    <div class="card-body collapse" id="collapseMegaMan">
        <div class="row">
            <div class="col-lg-3 form-group">
                <label asp-for="StartingHealth"></label>
                <input class="form-control" asp-for="StartingHealth" />
                <span asp-validation-for="StartingHealth" class="text-danger"></span>
            </div>
            <div class="col-lg-3 form-group">
                <label asp-for="MaxHealth"></label>
                <input class="form-control" asp-for="MaxHealth" />
            </div>
            <div class="col-lg-3 form-group">
                <label asp-for="RunningSpeed"></label>
                <input class="form-control" asp-for="RunningSpeed" />
            </div>
            <div class="col-lg-3 form-group">
                <label asp-for="JumpHeight"></label>
                <input class="form-control" asp-for="JumpHeight" />
            </div>
        </div>
    </div>
</div>