@model AllRobotMasterOptionsViewModel

<div class="card">
    <div class="card-header">
        <h2 class="panel-title"><a class="collapsed" data-toggle="collapse" href="#collapseRobotMasters">Robot Master Options</a></h2>
    </div>
    <div class="card-body collapse" id="collapseRobotMasters">

        <partial name="_BubbleManOptions" for="BubbleMan" />

        <partial name="_AirManOptions" for="AirMan" />

        <partial name="_QuickManOptions" for="QuickMan" />

        <partial name="_HeatManOptions" for="HeatMan" />

        <partial name="_WoodManOptions" for="WoodMan" />

        <partial name="_MetalManOptions" for="MetalMan" />

        <partial name="_FlashManOptions" for="FlashMan" />

        <partial name="_CrashManOptions" for="CrashMan" />

    </div>
</div>