@model WeaponUpgradeOptionsViewModel

<div class="card">
    <div class="card-header">
        <h2 class="panel-title"><a class="collapsed" data-toggle="collapse" href="#collapseWeapons">Weapon Upgrades</a></h2>
    </div>
    <div id="collapseWeapons" class="collapse card-body">

        <div class="card">
            <div class="card-header">
                <h3 class="panel-title"><a class="collapsed" data-toggle="collapse" href="#collapseAtomicFire">Atomic Fire</a></h3>
            </div>
            <div id="collapseAtomicFire" class="collapse card-body">
                <partial name="_CommonWeaponOptions" for="AtomicFire" />
                <div class="row">
                    <div class="col-lg-3 form-group">
                        <label asp-for="AtomicFire.ProjectileSpeed"></label>
                        <input class="form-control" asp-for="AtomicFire.ProjectileSpeed" />
                    </div>
                    <div class="col-lg-3 form-group">
                        <label asp-for="AtomicFire.Level1AmmoUsed"></label>
                        <input class="form-control" asp-for="AtomicFire.Level1AmmoUsed" />
                    </div>
                    <div class="col-lg-3 form-group">
                        <label asp-for="AtomicFire.Level2AmmoUsed"></label>
                        <input class="form-control" asp-for="AtomicFire.Level2AmmoUsed" />
                    </div>
                    <div class="col-lg-3 form-group">
                        <label asp-for="AtomicFire.Level3AmmoUsed"></label>
                        <input class="form-control" asp-for="AtomicFire.Level3AmmoUsed" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 form-group">
                        <label asp-for="AtomicFire.Level2ChargeTime"></label>
                        <input class="form-control" asp-for="AtomicFire.Level2ChargeTime" />
                    </div>
                    <div class="col-lg-3 form-group">
                        <label asp-for="AtomicFire.Level3ChargeTime"></label>
                        <input class="form-control" asp-for="AtomicFire.Level3ChargeTime" />
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h3 class="panel-title"><a class="collapsed" data-toggle="collapse" href="#collapseAirShooter">Air Shooter</a></h3>
            </div>
            <div id="collapseAirShooter" class="collapse card-body">
                <partial name="_CommonWeaponOptions" for="AirShooter" />
                <div class="row">
                    <div class="col-lg-3 form-group">
                        <label asp-for="AirShooter.ProjectileCount"></label>
                        <input class="form-control" asp-for="AirShooter.ProjectileCount" />
                    </div>
                    <div class="col-lg-3 form-group">
                        <label asp-for="AirShooter.Projectile1HorizontalSpeed"></label>
                        <input class="form-control" asp-for="AirShooter.Projectile1HorizontalSpeed" />
                    </div>
                    <div class="col-lg-3 form-group">
                        <label asp-for="AirShooter.Projectile2HorizontalSpeed"></label>
                        <input class="form-control" asp-for="AirShooter.Projectile2HorizontalSpeed" />
                    </div>
                    <div class="col-lg-3 form-group">
                        <label asp-for="AirShooter.Projectile3HorizontalSpeed"></label>
                        <input class="form-control" asp-for="AirShooter.Projectile3HorizontalSpeed" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 form-group">
                        <label asp-for="AirShooter.VerticalAcceleration"></label>
                        <input class="form-control" asp-for="AirShooter.VerticalAcceleration" />
                    </div>
                    <div class="col-lg-3 form-group">
                        <label asp-for="AirShooter.AmmoUsed"></label>
                        <input class="form-control" asp-for="AirShooter.AmmoUsed" />
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h3 class="panel-title"><a class="collapsed" data-toggle="collapse" href="#collapseLeafShield">Leaf Shield</a></h3>
            </div>
            <div id="collapseLeafShield" class="collapse card-body">
                <partial name="_CommonWeaponOptions" for="LeafShield" />
                <div class="row">
                    <div class="col-lg-3 form-group">
                        <label asp-for="LeafShield.AmmoUsed"></label>
                        <input class="form-control" asp-for="LeafShield.AmmoUsed" />
                    </div>
                    <div class="col-lg-3 form-group">
                        <label asp-for="LeafShield.DeployDelay"></label>
                        <input class="form-control" asp-for="LeafShield.DeployDelay" />
                    </div>
                    <div class="col-lg-3 form-group">
                        <label asp-for="LeafShield.ProjectileSpeed"></label>
                        <input class="form-control" asp-for="LeafShield.ProjectileSpeed" />
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h3 class="panel-title"><a class="collapsed" data-toggle="collapse" href="#collapseBubbleLead">Bubble Lead</a></h3>
            </div>
            <div id="collapseBubbleLead" class="collapse card-body">
                <partial name="_CommonWeaponOptions" for="BubbleLead" />
                <div class="row">
                    <div class="col-lg-3 form-group">
                        <label asp-for="BubbleLead.HorizontalSpeed"></label>
                        <input class="form-control" asp-for="BubbleLead.HorizontalSpeed" />
                    </div>
                    <div class="col-lg-3 form-group">
                        <label asp-for="BubbleLead.VerticalSpeed"></label>
                        <input class="form-control" asp-for="BubbleLead.VerticalSpeed" />
                    </div>
                    <div class="col-lg-3 form-group">
                        <label asp-for="BubbleLead.HorizontalFallingSpeed"></label>
                        <input class="form-control" asp-for="BubbleLead.HorizontalFallingSpeed" />
                    </div>
                    <div class="col-lg-3 form-group">
                        <label asp-for="BubbleLead.VerticalFallingSpeed"></label>
                        <input class="form-control" asp-for="BubbleLead.VerticalFallingSpeed" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 form-group">
                        <label asp-for="BubbleLead.SurfaceSpeed"></label>
                        <input class="form-control" asp-for="BubbleLead.SurfaceSpeed" />
                    </div>
                    <div class="col-lg-3 form-group">
                        <label asp-for="BubbleLead.MaxProjectiles"></label>
                        <input class="form-control" asp-for="BubbleLead.MaxProjectiles" />
                    </div>
                    <div class="col-lg-3 form-group">
                        <label asp-for="BubbleLead.ShotsPerAmmo"></label>
                        <input class="form-control" asp-for="BubbleLead.ShotsPerAmmo" />
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h3 class="panel-title"><a class="collapsed" data-toggle="collapse" href="#collapseQuickBoomerang">Quick Boomerang</a></h3>
            </div>
            <div id="collapseQuickBoomerang" class="collapse card-body">
                <partial name="_CommonWeaponOptions" for="QuickBoomerang" />
                <div class="row">
                    <div class="col-lg-3 form-group">
                        <label asp-for="QuickBoomerang.FireDelay"></label>
                        <input class="form-control" asp-for="QuickBoomerang.FireDelay" />
                    </div>
                    <div class="col-lg-3 form-group">
                        <label asp-for="QuickBoomerang.MaxShots"></label>
                        <input class="form-control" asp-for="QuickBoomerang.MaxShots" />
                    </div>
                    <div class="col-lg-3 form-group">
                        <label asp-for="QuickBoomerang.ShotsPerAmmo"></label>
                        <input class="form-control" asp-for="QuickBoomerang.ShotsPerAmmo" />
                    </div>
                    <div class="col-lg-3 form-group">
                        <label asp-for="QuickBoomerang.TravelDistance"></label>
                        <input class="form-control" asp-for="QuickBoomerang.TravelDistance" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 form-group">
                        <label asp-for="QuickBoomerang.LaunchAngle"></label>
                        <input class="form-control" asp-for="QuickBoomerang.LaunchAngle" />
                    </div>
                    <div class="col-lg-3 form-group">
                        <label asp-for="QuickBoomerang.ReturnAngle"></label>
                        <input class="form-control" asp-for="QuickBoomerang.ReturnAngle" />
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h3 class="panel-title"><a class="collapsed" data-toggle="collapse" href="#collapseTimeStopper">Time Stopper</a></h3>
            </div>
            <div id="collapseTimeStopper" class="collapse card-body">
                <partial name="_CommonWeaponOptions" for="TimeStopper" />
                <div class="row">
                    <div class="col-lg-3 form-group">
                        <label asp-for="TimeStopper.DelayBeforeDrain"></label>
                        <input class="form-control" asp-for="TimeStopper.DelayBeforeDrain" />
                    </div>
                    <div class="col-lg-3 form-group">
                        <label asp-for="TimeStopper.DrainRateDelay"></label>
                        <input class="form-control" asp-for="TimeStopper.DrainRateDelay" />
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h3 class="panel-title"><a class="collapsed" data-toggle="collapse" href="#collapseMetalBlade">Metal Blade</a></h3>
            </div>
            <div id="collapseMetalBlade" class="collapse card-body">
                <partial name="_CommonWeaponOptions" for="MetalBlade" />
                <div class="row">
                    <div class="col-lg-3 form-group">
                        <label asp-for="MetalBlade.MaxShots"></label>
                        <input class="form-control" asp-for="MetalBlade.MaxShots" />
                    </div>
                    <div class="col-lg-3 form-group">
                        <label asp-for="MetalBlade.ShotsPerAmmo"></label>
                        <input class="form-control" asp-for="MetalBlade.ShotsPerAmmo" />
                    </div>
                    <div class="col-lg-3 form-group">
                        <label asp-for="MetalBlade.ProjectileSpeed"></label>
                        <input class="form-control" asp-for="MetalBlade.ProjectileSpeed" />
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h3 class="panel-title"><a class="collapsed" data-toggle="collapse" href="#collapseCrashBomber">Crash Bomber</a></h3>
            </div>
            <div id="collapseCrashBomber" class="collapse card-body">
                <partial name="_CommonWeaponOptions" for="CrashBomber" />
                <div class="row">
                    <div class="col-lg-3 form-group">
                        <label asp-for="CrashBomber.HorizontalSpeed"></label>
                        <input class="form-control" asp-for="CrashBomber.HorizontalSpeed" />
                    </div>
                    <div class="col-lg-3 form-group">
                        <label asp-for="CrashBomber.VerticalSpeed"></label>
                        <input class="form-control" asp-for="CrashBomber.VerticalSpeed" />
                    </div>
                    <div class="col-lg-3 form-group">
                        <label asp-for="CrashBomber.AmmoUsed"></label>
                        <input class="form-control" asp-for="CrashBomber.AmmoUsed" />
                    </div>
                    <div class="col-lg-3 form-group">
                        <label asp-for="CrashBomber.DetonationDelay"></label>
                        <input class="form-control" asp-for="CrashBomber.DetonationDelay" />
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>