@using MegaMan2Customizer.Core

@model RomFormModel

<form method="post" action="rom" enctype="multipart/form-data">
    <h2>ROM Info</h2>
    <div class="form-group">
        <label class="btn btn-primary btn-browse">
            Select ROM File... <input type="file" hidden name="romFile" onchange="romFileOnChange()">
        </label>
        <input hidden type="text" name="romFileName" value="@this.Model?.RomFileName" />
        <span id="displayed-name">@this.Model?.RomFileName</span>
    </div>

    <hr>

    <div id="rom-data-container">
        @if (this.Model?.Rom != null)
        {
            <partial name="_RomData" />
        }
    </div>

</form>

@section scripts {
    <script src="~/js/megaman2customizer.js"></script>
}