@using MegaMan2Customizer.Core

@model RomFormModel

<form method="post" action="rom" enctype="multipart/form-data">
    <div class="row">
        <div class="col-xs-12">
            <h2>ROM Info</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 form-group">
            <label class="btn btn-primary btn-browse">
                Select ROM File... <input type="file" class="hidden" name="romFile" onchange="romFileOnChange()">
            </label>
            <input readonly type="text" name="romFileName" class="hidden" value="@this.Model?.RomFileName" />
            <span id="displayed-name">@this.Model?.RomFileName</span>
        </div>
    </div>

    <hr />

    <div id="rom-data-container">
        @if (this.Model?.Rom != null)
        {
            <partial name="_RomData" />
        }
    </div>
</form>

@section scripts {
    <script src="~/js/megaman2customizer.js"></script>
}