@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>You can use this site to create custom versions of the Mega Man 2 ROM for use with NES emulators.</h3>

<p>Use this area to provide additional information.</p>
