body {
    padding-bottom: 20px;
}

.container {
    margin-top: 10px;
}

.logo {
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(#ff0000, #ffff00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(-3px 3px #0026bb)
}

@media screen and (min-width: 400px) {
    .logo {
        font-size: x-large;
    }
}

@media screen and (min-width: 512px) {
    .logo {
        font-size: xx-large;
    }
}

#displayed-name {
    padding: 6px 12px;
    border: 1px solid #ccc;
    display: block;
    vertical-align: middle;
    min-height: 38px;
    margin-bottom: .5rem;
    width: 100%;
}

@media (min-width: 375px) {
    .btn-browse {
        border-radius: 4px 0 0 4px;
        border-right: 0;
    }

    #displayed-name {
        display: inline-block;
        border-left: 0;
        margin-left: -4px;
        border-radius: 0 4px 4px 0;
        min-width: 200px;
        width: unset;
        margin-top: unset;
    }
}

.card-header, .card-body {
    padding: .625rem;
}

button[type=submit] {
    margin-top: 15px;
}